h1{
    background-color: rgb(220, 219, 219);
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
line-height: 2cm;
word-spacing: 6cm;
}
div{
    width: 1570px;
    background-color: rgba(212, 209, 209, 0.931);
    font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
font-size: larger;
}
#a{
    color: deeppink;
}
.a{background-color: rgb(194, 238, 82);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    line-height: 4cm;
    word-spacing: 8cm;

}